# Telegram Template.cfg initial layout

define contact{
        name                            telegram-contact    	; The name of this contact template
        service_notification_period     24x7			; service notifications can be sent anytime
        host_notification_period        24x7			; host notifications can be sent anytime
        service_notification_options    w,u,c,r,f,s		; send notifications for all service states, flapping events, and scheduled downtime events
        host_notification_options       d,u,r,f,s		; send notifications for all host states, flapping events, and scheduled downtime events
        service_notification_commands   notify-service-by-telegramcli	; send service notifications via telegram
       	host_notification_commands      notify-host-by-telegramcli	; send host notifications via telegram
        }  


define service{
        name                            telegram-service 	; The 'name' of this service template
        active_checks_enabled           1       		; Active service checks are enabled
        passive_checks_enabled          1    		   	; Passive service checks are enabled/accepted
        parallelize_check               1       		; Active service checks should be parallelized (disabling this can lead to major performance problems)
        obsess_over_service             1       		; We should obsess over this service (if necessary)
        check_freshness                 0       		; Default is to NOT check service 'freshness'
        notifications_enabled           1       		; Service notifications are enabled
        event_handler_enabled           1       		; Service event handler is enabled
        flap_detection_enabled          1       		; Flap detection is enabled
        failure_prediction_enabled      1       		; Failure prediction is enabled
        process_perf_data               1       		; Process performance data
        retain_status_information       1       		; Retain status information across program restarts
        retain_nonstatus_information    1       		; Retain non-status information across program restarts
        is_volatile                     0       		; The service is not volatile
        check_period                    24x7			; The service can be checked at any time of the day
        max_check_attempts              3   			; Re-check the service up to 3 times in order to determine its final (hard) state
        normal_check_interval           1   			; Check the service every 10 minutes under normal conditions
        retry_check_interval            2   			; Re-check the service every two minutes until a hard state can be determined
        contact_groups                  telegram			; Notifications get sent out to everyone in the 'telegram' group
    	notification_options		    w,u,c,r			; Send notifications about warning, unknown, critical, and recovery events
        notification_interval           60  			; Re-notify about service problems every hour
        notification_period             24x7			; Notifications can be sent out at any time
        check_command                   notify-service-by-telegramcli
}
 define host{
        name                            telegram-server    
        use                             generic-host    
        check_period                    24x7            
        check_interval                  5             
        retry_interval                  1               
        max_check_attempts              10             
        check_command                   check-host-alive 
        notification_period             workhours
   		notification_interval           120            
        notification_options            d,u,r          
        contact_groups                  telegram           
        register                        0                       
        }        